<link rel='stylesheet' href='/stylesheets/navbar.css' />

<nav class="navbar navbar-expand-lg">
  <div class="container-xxl">
    <a class="navbar-brand" href="/"><img src="/assets/logo.png" alt="imagen del logo de la pagina"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pets">Mascotas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pets/gallery">Galería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pets/addPet">Añadir una Mascota</a>
        </li>
        <li class="nav-item ms-5">
          <img class="img" src="/assets/nav.png" alt="imagen decorativa de una huella de perro">
        </li>
      </ul>
      <button type="button" class="btn btn-outline-secondary me-2" onclick="window.location.href='/users/register'">Registrarse</button>
      <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='/users/login'">Iniciar sesión</button>
    </div>
  </div>
</nav>

